body{
    background-color:  rgba(139, 170, 207);
    display: flex;
    flex-direction: column;
    color: #4e6f78;
    align-content: space-around;
}

#entry{
    box-shadow: 0px 0px 5px #fff;
    border-radius : 20px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    width: 80%;
    margin: auto;
    background-color: rgba(45,84,106,.2);
    align-content: space-between;
    
}

#entry input,select{
    background-color:  rgba(45,84,106,.3);
    border-radius: 15px;
    height: 30px;
    width: 230px;
    outline: none;
    padding-left: 20px;
    border-top: none;
    border-left:none;
    border-bottom:2px solid rgb(0,0,0,.4);
    font-size: 15px;
    margin-top: 10px;
}
#entry input:focus, select:focus{
    background-color: #fff;
}
#entry label{
    margin-top: 20px;
    margin-left: 10px;
    color: #d8e8e9;
    margin-bottom: -5px;
}

#datasection{
    box-shadow: 0px 0px 5px #fff;
    border-radius : 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 80%;
    margin: auto;
    background-color: rgba(139, 170, 207);
    align-content: space-between;
    
}
#step{
    margin-top: 20px;
    margin-left: 10px;
    color: #2d5754;
    margin-bottom: -5px;
    width : 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#step label{
    width : 70%;
}
#step select{
    width:30%;
}

#datasection input{
    background-color:  rgba(45,84,106,.3);
    border-radius: 15px;
    height: 30px;
    width: auto;
    outline: none;
    padding-left: 20px;
    border-top: none;
    border-left:none;
    border-bottom:2px solid rgb(0,0,0,.4);
    font-size: 15px;
    margin-top: 10px;
}

#btn_field{
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 50%;
    margin: auto;
}
#btn_field button{
    background-color: #fff;
    border-radius: 15px;
    height: 30px;
    width: 250px;
    outline: none;
    border-top: none;
    border-left:none;
    border-bottom:2px solid rgb(0,0,0,.4);
    font-size: 15px;
    margin-top: 10px;
}


#comment::placeholder{
    color: rgba(0,0,0,.7);
}